---
import "../styles/global.css";

import Hero from "@uis/Hero.astro";
import Main from "@layouts/main.astro";
import SofiaFamilySavings from "@/uis/SofiaFamilySavings.astro";
import SantiagoAnalyst from "@uis/SantiagoAnalyst.astro";
import MatiasTheInnovator from "@uis/MatiasTheInnovator.astro";
import LucianaCollaborative from "@uis/LucianaCollaborative.astro";
import CompetitiveAdvatages from "@uis/CompetitiveAdvantages.astro";
import Testimonials from "@uis/Testimonials.astro";
import Collaboration from "@uis/Collaboration.astro";
import AboutUs from "@uis/AboutUs.astro";
import Contact from "@uis/Contact.astro";
---

<Main>
  <Hero />
  <SantiagoAnalyst />
  <MatiasTheInnovator />
  <LucianaCollaborative />
  <SofiaFamilySavings />
  <Testimonials />
  <CompetitiveAdvatages />
  <AboutUs />
  <Collaboration />
  <Contact />
</Main>
