---
import Header from "@uis/Header.astro";
import Footer from "@uis/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Energía Solar - Reduce tu factura eléctrica</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
